/node_modules
/public/hot
/public/storage
/public/documents
/public/proofs
/public/plans
/public/proof
/public/returns
/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
